<script src="http://ajax.useso.com/ajax/libs/jquery/1/jquery.min.js"></script>

<script type="text/javascript" src="<%- config.root%>js/jquery.fitvids.js"></script>
<script type="text/javascript" src="<%- config.root%>js/index.js"></script>

<% if (theme.google_analytics) { %>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '<%- theme.google_analytics %>']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
<% } %>
<% if (config.disqus_shortname){ %>
<script type="text/javascript">
    var disqus_shortname = '<%= config.disqus_shortname %>';

    (function(){
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/<% if (page.comments){ %>embed.js<% } else { %>count.js<% } %>';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }());
</script>
<% } %>
<% if (config.mixpanel_token){ %>
<!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
mixpanel.init("<%= config.mixpanel_token %>");
// page-view
mixpanel.track("page-view");
</script><!-- end Mixpanel -->
<% } %>
<% if (theme.fancybox){ %>
<link rel="stylesheet" href="<%- config.root %>modules/fancybox/jquery.fancybox.css" media="screen" type="text/css">
<script src="<%- config.root %>modules/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
    (function($){

        var wrapAll = function(q) {
            $(q).each( function() {
                var $img = $(this),
                        href = $img.attr('src');
                $img.wrap('<a rel="fancybox" href="' + href + '" title="' + $img.attr('alt') + '" class="link"></a>');
            });
        };

        wrapAll('.post-content img');
        wrapAll('.post-excerpt img');
        $('[rel="fancybox"]').fancybox();
    })(jQuery);
</script>
<% } %>


